.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin-top: 2rem;
}
.input-container {
  position: relative;
}
.icon-container {
  position: absolute;
  top: 8px;
  right: 10px;
}
.icon-container:hover {
  color: cornflowerblue !important;
  cursor: pointer;
}
body {
  background-color: rgb(33, 33, 39) !important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif !important;
}
.weather-card {
  background-color: rgb(33, 33, 39) !important;
  border: none !important;
}
.search {
  border-radius: 30px !important;
  padding: 8px 20px !important;
}
